body {
  background: white;
  font-family: "Roboto", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header i {
  margin: 2vh;
}

main .main_section_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url(/img/daft_punk_7-wallpaper-2880x1800.png);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.conteiner-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.conteiner-1 .check {
  width: 50%;
  margin-left: 7vw;
  line-height: 2rem;
}
.conteiner-1 .check img {
  margin-right: 1vw;
}
.conteiner-1 .check h1 {
  font-size: 3rem;
  font-weight: bold;
}
.conteiner-1 .check p {
  max-width: 80%;
  margin-bottom: 5vh;
}

.disk {
  position: relative;
}
.disk .beat {
  position: absolute;
  top: 15vh;
  right: 20vw;
  z-index: 5;
}
.disk .vinyl {
  z-index: 2;
  position: absolute;
  top: 15vh;
  right: 10vw;
}

.bg {
  height: 100%;
  width: 100%;
}

.container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
}

.video img {
  max-width: 50vw;
}

.container-2_content {
  margin-left: 10vw;
  font-size: 1.2rem;
}
.container-2_content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1vh;
}
.container-2_content p {
  line-height: 2.5rem;
  max-width: 80%;
}
.container-2_content a {
  color: black;
  border-right: 1px solid black;
  border-radius: 0;
}

.time {
  padding: 15ch 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.time .time_event {
  padding-right: 10vw;
}
.time .time_event h2 {
  font-size: 3rem;
  font-weight: bold;
}

#clockdiv {
  font-size: 1rem;
  display: inline-block;
}

#clockdiv > div {
  text-align: center;
  padding: 3vw;
  display: inline-block;
}

#clockdiv div > span {
  font-size: 3rem;
  display: inline-block;
}

.instagram_flex {
  width: 100%;
  position: relative;
}

.instagram-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.instagram-1 img {
  height: 100%;
  width: 16.6%;
}

.instagram-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.instagram-2 img {
  height: 100%;
  width: 16.6%;
}

.instagram-3 {
  position: absolute;
  top: 20vh;
  left: 35vw;
}
.instagram-3 img {
  position: relative;
}

.instagram-3 i {
  color: white;
  font-size: 4rem;
  position: absolute;
  left: 12vw;
  top: 6vh;
}

.instagram-3 h2 {
  color: white;
  font-size: 3rem;
  position: absolute;
  left: 7vw;
  top: 15vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img {
  margin-left: 7vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__p {
  padding-top: 2vh;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.footer__icon {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer__icon i {
  margin: 2vw;
}

.closer {
  -webkit-transition: 1s;
  transition: 1s;
}

.closer:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}